html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*********/
html {
	margin: 0;
	padding: 0;
}
body {
	font-size: 16px;
	background-color: black;
	width: 960px;
	margin: 0 auto;

}
div {
	display: block;
	background-color: rgba(128,0,0,.7);
	width: 30em;
	height: 10em;
	padding: 1em 1em;
	border: 0 solid black;
	margin: 2em auto;

}

.one {
	float: left;
	box-sizing: content-box;
	width: 40%;
	padding: 0 10px;
	border-left: 10px solid grey;
	overflow: scroll;
}
.two {
	float: right;
	box-sizing: border-box;
	width: 50%;
	padding: 0 10px;
	border-left: 10px solid grey;
	overflow: scroll;
}
.three {
	clear: both;
}

.group {
	background-color: transparent;
	width: 960px;
}
.group::before,
.group::after {
  content: "";
  display: table;
}

.group::after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

body {
	color: grey;
	font-size: 16px;
	font-weight: 100;
	font-variant: small-caps;
	line-height: 1.5em;
	text-align: left;
	text-indent: 1.5em;
	text-transform: lowercase;
	white-space: normal;
	letter-spacing: -.009pt;
	word-spacing: .25em;
	font-family: Diablo, cursive;
	background-image: url("background/background.jpg");
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-attachment: fixed;
}

